<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Baptiste <span class="text-primary">BRAND</span>
        </h1>
        <div class="subheading mb-5">
            Grenoble · France
            <a href="mailto:contact@baptiste-brand.fr">contact@baptiste-brand.fr</a>
        </div>
        {# <p class="lead">
            <span>
                Étudiant en mastère ingénierie du web spécialisation Architecture logiciel à
                <a href="https://www.esgi.fr/campus-grenoble.html" target="_blank">
                    ESGI Grenoble <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
                en alternance chez
                <a href="https://live-session.fr/" target="_blank">
                    Live Session <i class="fa-solid fa-arrow-up-right-from-square"></i>
                </a>
            </span>
        </p> #}
        <p class="lead">
            Développeur Web spécialisé dans le backend mais aimant tout autant le frontend.
            Membre à part entière de la confrérie des saints seigneurs. Fanatique du Grand sage Gandalf.
            Adorateur de MarioKart mais surtout de sa route arc-en-ciel en 200 CC miroir
        </p>
        <div class="social-icons">
            <a class="social-icon" href="https://www.linkedin.com/in/baptiste-brand-b2b945197/" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Linkedin"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://github.com/AzdrHA" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Github"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://gitlab.com/azdra" target="_blank" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Gitlab"><i class="fab fa-gitlab"></i></a>
        </div>
    </div>
</section>