<section class="resume-section" id="certifications">
    <div class="resume-section-content">
        <h2 class="mb-5">Certifications</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Product Owner Certification Internationale – icPO</h3>
                <p class="location">Scrum League | 2025</p>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Scrum Master Certification Internationale – icSM</h3>
                <p class="location">Scrum League | 2025</p>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Méthodes agiles de gestion et amorçage projet</h3>
                <p class="location">Simplon | 2021</p>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Maîtrise de la qualité en projet Web</h3>
                <p class="location">Opquast | 2021</p>
            </div>
        </div>
    </div>
</section>