<section class="resume-section" id="formations">
    <div class="resume-section-content">
        <h2 class="mb-5">Formations</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1 me-3">
                <h3 class="mb-0">Mastère Expert en Ingénierie Informatique</h3>
                <div class="subheading">Spécialisation Architecture Logicielle</div>
                <p class="location">2022 - 2024 | ESGI, Grenoble (38)</p>

                <div id="element1" class="overflow-handling-container">
                    <div class="description">
                        <ul>
                            <li>Développement avancé : Clean Code, programmation fonctionnelle (Scala), Reactive Programming Android</li>
                            <li>Architectures : Micro-services, Clean Architecture, systèmes distribués</li>
                            <li>DevOps : Orchestration de conteneurs, intégration continue</li>
                            <li>Conception et méthodes : Domain Driven Design (DDD), Behaviour Driven Development (BDD), conception orientée normes</li>
                            <li>Infrastructure : Cloud, sécurité logicielle, cryptographie</li>
                            <li>Data & Intelligence Artificielle : Machine Learning, apprentissage par renforcement, frameworks Deep Learning</li>
                            <li>Ergonomie et interfaces : IHM logicielle, ergonomie utilisateur</li>
                            <li>Projets spécifiques : IoT, Green IT & informatique responsable</li>
                            <li>Compétences transverses : Management d’équipe, droit informatique</li>
                        </ul>
                    </div>
                </div>

            </div>
            <div class="flex-shrink-0 text-end">
                <button class="btn btn-primary text-white" data-target="#element1">...voir plus</button>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1 me-1">
                <h3 class="mb-0">Bachelor Concepteur Développeur d'Applications</h3>
                <p class="location">2021 - 2022 | Simplon, Grenoble (38)</p>

                <div id="element2" class="overflow-handling-container">
                    <div class="description">
                        <p>Développer une application sécurisée :</p>
                        <ul>
                            <li>Installer et configurer son environnement de travail en fonction du projet.</li>
                            <li>Développer des interfaces utilisateur</li>
                            <li>Développer des composants métier</li>
                            <li>Contribuer à la gestion d'un projet informatique</li>
                        </ul>

                        <p>Concevoir et développer une application sécurisée organisée en couches :</p>
                        <ul>
                            <li>Analyser les besoins et maquetter une application</li>
                            <li>Définir l'architecture logicielle d'une application</li>
                            <li>Concevoir et mettre en place une base de données relationnelle</li>
                            <li>Développer des composants d'accès aux données SQL et NoSQL</li>
                        </ul>

                        <p>Préparer le déploiement d'une application sécurisée :</p>
                        <ul>
                            <li>Préparer et exécuter les plans de tests d'une application</li>
                            <li>Préparer et documenter le déploiement d'une application</li>
                            <li>Contribuer à la mise en production dans une démarche DevOps</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex-shrink-0 text-end">
                <button class="btn btn-primary text-white" data-target="#element2">...voir plus</button>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1 me-1">
                <h3 class="mb-0">Developpeur web et web mobile</h3>
                <p class="location">2020 - 2021 | Simplon, Grenoble (38)</p>

                <div id="element3" class="overflow-handling-container">
                    <div class="description">
                        <p>Développer la partie front-end d'une application web ou web mobile sécurisée :</p>
                        <ul>
                            <li>Installer et configurer son environnement de travail en fonction du projet web ou web
                                mobile
                            </li>
                            <li>Maquetter des interfaces utilisateur web ou web mobile</li>
                            <li>Réaliser des interfaces utilisateur statiques web ou web mobile</li>
                            <li>Développer la partie dynamique des interfaces utilisateur web ou web mobile</li>
                        </ul>

                        <p>Développer la partie back-end d'une application web ou web mobile sécurisée :</p>
                        <ul>
                            <li>Mettre en place une base de données relationnelle</li>
                            <li>Développer des composants d'accès aux données SQL et NoSQL</li>
                            <li>Développer des composants métier coté serveur</li>
                            <li>Documenter le déploiement d'une application dynamique web ou web mobile</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex-shrink-0 text-end">
                <button class="btn btn-primary text-white" data-target="#element3">...voir plus</button>
            </div>
        </div>
    </div>
</section>
