<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">ESGI</h3>
                <div class="subheading">Cycle Mastère (4e et 5e Année) ingénieurs en informatique spécialisation Architecture des Logiciels</div>
                <small class="mb-5">Grenoble, Auvergne-Rhône-Alpes, France</small>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">sept. 2022 - aujourd’hui</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Simplon Auvergne-Rhône-Alpes</h3>
                <div class="subheading">Concepteur⋅rice développeur⋅se d'applications</div>
                <small class="mb-5">Grenoble, Auvergne-Rhône-Alpes, France</small>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">mai 2021 - mai 2022 · 1 an</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1">
                <h3 class="mb-0">Simplon Auvergne-Rhône-Alpes</h3>
                <div class="subheading">Developpeur Web et web mobile</div>
                <small class="mb-5">Grenoble, Auvergne-Rhône-Alpes, France</small>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2020 - 2021</span></div>
        </div>
    </div>
</section>