<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Éducation</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1 me-3">
                <h3 class="mb-0">ESGI</h3>
                <div class="subheading">Cycle Mastère (4e et 5e Année) ingénieurs en informatique spécialisation Architecture des Logiciels</div>
                <p class="location">Grenoble, Auvergne-Rhône-Alpes, France</p>

                <div id="element1" class="overflow-handling-container">
                    <div class="description">
                        <p>Ingénierie du logiciel</p>
                        <ul>
                            <li>Clean Code
                            <li> Devops (Orchestration de conteneurs et intégration continue)</li>
                            <li>Architecture micro-services</li>
                        </ul>

                        <p>Développement avancé</p>
                        <ul>
                            <li>Reactive Programming Android</li>
                            <li>Programmation Fonctionnelle avec Scala</li>
                        </ul>

                        <p>Conception, systèmes et outils</p>
                        <ul>
                            <li>Infrastructure Cloud</li>
                            <li>Behaviour Domain Development (BDD)</li>
                            <li>Framework Deep Learning</li>
                        </ul>

                        <p>Sciences de l'ingénieur</p>
                        <ul>
                            <li>Projet IoT</li>
                            <li>Cryptographie et Sécurité Logicielle</li>
                            <li>Ergonomie et IHM Logicielle</li>
                        </ul>

                        <p>Développement et programmation avancée</p>
                        <ul>
                            <li>Programmation Fonctionnelle</li>
                        </ul>

                        <p>Architectures</p>
                        <ul>
                            <li>Clean Architecture</li>
                            <li>Introduction aux traitements distribués</li>
                        </ul>

                        <p>Conceptions et normes</p>
                        <ul>
                            <li>Conception Pilotée par le Domaine (DDD)</li>
                            <li>Green IT et Informatique Responsable</li>
                        </ul>

                        <p>Traitement et analyse des données</p>
                        <ul>
                            <li>Apprentissage par renforcement appliqué au jeu</li>
                            <li>Machine Learning</li>
                        </ul>

                        <p>Compétences transverses</p>
                        <ul>
                            <li>Management d'équipe</li>
                            <li>Droit Informatique</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex-shrink-0 text-end">
                <p><span class="text-primary">sept. 2022 - sept. 2024</span></p>
                <button class="btn btn-primary text-white" data-target="#element1">...voir plus</button>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1 me-1">
                <h3 class="mb-0">Simplon Grenoble Alpes</h3>
                <div class="subheading">Concepteur⋅rice développeur⋅se d'applications</div>
                <p class="location">Grenoble, Auvergne-Rhône-Alpes, France</p>

                <div id="element2" class="overflow-handling-container">
                    <div class="description">
                        <p>Développer une application sécurisée :</p>
                        <ul>
                            <li>Installer et configurer son environnement de travail en fonction du projet.</li>
                            <li>Développer des interfaces utilisateur</li>
                            <li>Développer des composants métier</li>
                            <li>Contribuer à la gestion d'un projet informatique</li>
                        </ul>

                        <p>Concevoir et développer une application sécurisée organisée en couches :</p>
                        <ul>
                            <li>Analyser les besoins et maquetter une application</li>
                            <li>Définir l'architecture logicielle d'une application</li>
                            <li>Concevoir et mettre en place une base de données relationnelle</li>
                            <li>Développer des composants d'accès aux données SQL et NoSQL</li>
                        </ul>

                        <p>Préparer le déploiement d'une application sécurisée :</p>
                        <ul>
                            <li>Préparer et exécuter les plans de tests d'une application</li>
                            <li>Préparer et documenter le déploiement d'une application</li>
                            <li>Contribuer à la mise en production dans une démarche DevOps</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex-shrink-0 text-end">
                <p><span class="text-primary">mai 2021 - mai 2022</span></p>
                <button class="btn btn-primary text-white" data-target="#element2">...voir plus</button>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between">
            <div class="flex-grow-1 me-1">
                <h3 class="mb-0">Simplon Grenoble Alpes</h3>
                <div class="subheading">Developpeur Web et web mobile</div>
                <p class="location">Grenoble, Auvergne-Rhône-Alpes, France</p>

                <div id="element3" class="overflow-handling-container">
                    <div class="description">
                        <p>Développer la partie front-end d'une application web ou web mobile sécurisée :</p>
                        <ul>
                            <li>Installer et configurer son environnement de travail en fonction du projet web ou web mobile</li>
                            <li>Maquetter des interfaces utilisateur web ou web mobile</li>
                            <li>Réaliser des interfaces utilisateur statiques web ou web mobile</li>
                            <li>Développer la partie dynamique des interfaces utilisateur web ou web mobile</li>
                        </ul>

                        <p>Développer la partie back-end d'une application web ou web mobile sécurisée :</p>
                        <ul>
                            <li>Mettre en place une base de données relationnelle</li>
                            <li>Développer des composants d'accès aux données SQL et NoSQL</li>
                            <li>Développer des composants métier coté serveur</li>
                            <li>Documenter le déploiement d'une application dynamique web ou web mobile</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="flex-shrink-0 text-end">
                <p><span class="text-primary">juin 2020 - mars 2021</span></p>
                <button class="btn btn-primary text-white" data-target="#element3">...voir plus</button>
            </div>
        </div>
    </div>
</section>
