<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Expérience</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Développeur Full Stack</h3>
                <div class="subheading">Live Session · Contrat en alternance</div>
                <p class="location mb-0">Crolles, Auvergne-Rhône-Alpes, France</p>

                <ul class="mt-3">
                    <li>Conception d’un nouveau module permettant aux utilisateurs de s’inscrire à un événement</li>
                    <li>Élaboration d’un service permettant la communication avec une Intelligence artificiel</li>
                    <li>Ajout d’un système de Streaming avatar</li>
                    <li>Amélioration de l'expérience utilisateur</li>
                    <li>Intégration d'un service externe de mail et de SMS</li>
                    <li>Modification des pages du site corporate, ajout d’article sur le blog et fiche de recrutement</li>
                </ul>

                <ul class="list-inline dev-icons">
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Javascript"><i class="fa-brands fa-square-js"></i></li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PHP"><i class="fa-brands fa-php"></i></li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Symfony"><i class="fa-brands fa-symfony"></i></li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="VueJS"><i class="fa-brands fa-vuejs"></i></li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">janv. 2023 - oct. 2024 · 1 an 10 mois</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Développeur Back-end</h3>
                <div class="subheading">Ascanio · Contract en alterance</div>
                <p class="location mb-0">Meylan, Auvergne-Rhône-Alpes, France</p>

                <ul class="mt-3">
                    <li>Migration de la version 3.2 de Symfony vers la version 5.4</li>
                    <li>Amélioration des compétences en PHP, Symfony et Sylius</li>
                    <li>Création de la partie back-end d’une application de réservation en ligne et gestion d'activité</li>
                </ul>

                <ul class="list-inline dev-icons">
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PHP"><i class="fa-brands fa-php"></i></li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Symfony"><i class="fa-brands fa-symfony"></i></li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">avr. 2021 - nov. 2022 · 1 an 8 mois</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Développeur Back-end</h3>
                <div class="subheading">Ascanio · Stage</div>
                <p class="location mb-0">Meylan, Auvergne-Rhône-Alpes, France</p>

                <ul class="mt-3">
                    <li>Amélioration des compétences en PHP et Symfony</li>
                    <li>Monter en compétence sur un framework ecommerce utilisant Symfony, Sylius</li>
                </ul>

                <ul class="list-inline dev-icons">
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PHP"><i class="fa-brands fa-php"></i></li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Symfony"><i class="fa-brands fa-symfony"></i></li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">nov. 2020 - déc. 2020 · 1 mois</span></div>
        </div>
    </div>
</section>