<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Expérience</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Développeur Full Stack</h3>
                <div class="subheading">Live Session · Contrat en alternance</div>
                <p class="mb-0">Crolles, Auvergne-Rhône-Alpes, France</p>
                <p>Monter en compétence sur le framework Symfony et e-commerce Sylius</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">janv. 2023 - aujourd’hui</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Développeur Back-end</h3>
                <div class="subheading">Ascanio · Contract en alterance</div>
                <small class="mb-5">Meylan, Auvergne-Rhône-Alpes, France</small>
                <p>Monter en compétence sur le framework Symfony et e-commerce Sylius</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">avr. 2021 - nov. 2022 · 1 an 8 mois</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Développeur Back-end</h3>
                <div class="subheading">Ascanio · Stage</div>
                <small class="mb-5">Meylan, Auvergne-Rhône-Alpes, France</small>
                <p>Monter en compétence sur le framework Symfony et e-commerce Sylius</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">nov. 2020 - déc. 2020 · 2 mois</span></div>
        </div>
    </div>
</section>