<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Expérience</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Développeur Full Stack</h3>
                <div class="subheading">Live Session · Contrat en alternance</div>
                <p class="location mb-0">Crolles, Auvergne-Rhône-Alpes, France</p>
                <p class="mt-3 text-black">Développement web avec Symfony et Vue.js. Travailler en étroite collaboration avec l'équipe pour répondre aux besoins du client. Participer activement aux réunions d'équipe et aux revues de code.
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Javascript"><i class="fa-brands fa-square-js"></i></li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PHP"><i class="fa-brands fa-php"></i></li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Symfony"><i class="fa-brands fa-symfony"></i></li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="VueJS"><i class="fa-brands fa-vuejs"></i></li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">janv. 2023 - aujourd’hui</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Développeur Back-end</h3>
                <div class="subheading">Ascanio · Contract en alterance</div>
                <p class="location mb-0">Meylan, Auvergne-Rhône-Alpes, France</p>
                <p class="mt-3 text-black">
                    Migration de la version 3.2 de Symfony vers la version 5.4.<br/>
                    Monter en compétence sur le framework Symfony et e-commerce Sylius
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PHP"><i class="fa-brands fa-php"></i></li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Symfony"><i class="fa-brands fa-symfony"></i></li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">avr. 2021 - nov. 2022 · 1 an 8 mois</span></div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Développeur Back-end</h3>
                <div class="subheading">Ascanio · Stage</div>
                <p class="location mb-0">Meylan, Auvergne-Rhône-Alpes, France</p>
                <p class="mt-3 text-black">Stage de milieu d'année. Monter en compétence sur le framework Symfony et e-commerce Sylius</p>
                <ul class="list-inline dev-icons">
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PHP"><i class="fa-brands fa-php"></i></li>
                    <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Symfony"><i class="fa-brands fa-symfony"></i></li>
                </ul>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">nov. 2020 - déc. 2020 · 1 mois</span></div>
        </div>
    </div>
</section>