<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Expériences</h2>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Développeur Freelance</h3>
                <p class="location">10/2024 à aujourd'hui | Client variés</p>
                <ul class="mt-3">
                    <li>Réalisation marquante : conception d'un logiciel de facturation sur-mesure pour un établissement privé (économie de 15h/mois de traitement manuel).</li>
                    <li>Gestion complète de projets, du cahier des charges à la livraison, avec une approche Agile et adaptative.</li>
                    <li>Livraison des projets complets en respectant délais et budgets.</li>
                    <li>Collaboration avec UX designer : amélioration parcours utilisateurs.</li>
                </ul>

                <div class="flex-shrink-0 text-primary"><span class="fw-bold">Stack : </span><span>Python, Java, Angular, React, Next.js, NestJS, Docker #Agile</span></div>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Développeur Full Stack - Live Session</h3>
                <p class="location">01/2023 - 10/2024 | Crolles (38920) | SaaS</p>

                <div class="mt-3">
                    <p class="mb-0 fw-bold">Impact business majeur :</p>
                    <ul>
                        <li>Développement du module d'inscription à des évènements en ligne : +40% de conversion, intégration seamless avec 5 outils existants.</li>
                        <li>Création d'un service de communication IA facilitant les interactions en temps réel dans un environnement SaaS sécurisé : réduction du temps de réponse support.</li>
                        <li>Mise en place du streaming d'avatars : engagement utilisateur multiplié par 3 lors des événements</li>
                    </ul>
                </div>

                <div class="mt-3">
                    <p class="mb-0 fw-bold">Excellence technique :</p>
                    <ul>
                        <li>Refonte complète UX/UI en appliquant des pratiques d’accessibilité: amélioration du score d'accessibilité de 65 à 95/100.</li>
                        <li>Intégration API (mail/SMS) : système de notifications temps réel.</li>
                        <li>Optimisation SEO du site corporate : +120% de trafic organique en 6 mois.</li>
                        <li>Contribution à l'amélioration des pratiques Agiles et DevOps, avec tests automatisés, déploiement continu et suivi des performances.</li>
                    </ul>
                </div>

                <div class="flex-shrink-0 text-primary"><span class="fw-bold">Stack : </span><span>PHP, Symfony, Vue.js, WebSocket, WebRTC, CMS, Docker, CI/CD, #DevOps, #Agile</span></div>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Développeur Back-end - Ascanio</h3>
                <p class="location">04/2021 - 10/2022 | Montbonnot-Saint-Martin (38330) | E-commerce B2B</p>
                <ul class="mt-3">
                    <li>Migration Symfony 3.2 → 5.4 : 0 downtime, amélioration des performances du projet.</li>
                    <li>Développement d’un module de réservation en ligne incluant des activités : gestion de 500+ réservations/ jour.</li>
                    <li>Immersion PHP/Symfony : best practices, optimisations et nouveautés.</li>
                </ul>

                <div class="flex-shrink-0 text-primary"><span class="fw-bold">Stack : </span><span>PHP, Symfony, Sylius, MySQL, MongoDB, Redis, Git</span></div>
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Développeur Back-end - Ascanio</h3>
                <p class="location">04/2021 - 10/2022 | Montbonnot-Saint-Martin (38330) | E-commerce B2B</p>
                <ul class="mt-3">
                    <li>Contribution à 3 modules e-commerce en production.</li>
                    <li>Code review et pair programming quotidien.</li>
                    <li>Immersion dans les best practices PHP/Symfony.</li>
                </ul>

                <div class="flex-shrink-0 text-primary"><span class="fw-bold">Stack : </span><span>PHP, Symfony, Sylius, MySQL, SQL, E-commerce, Git</span></div>
            </div>
        </div>
    </div>
</section>