<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <div class="mb-5">
            <h2>Projets</h2>
        </div>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <a class="project-card card h-100" href="https://github.com/azdracito/portfolio" target="_blank">
                    <div class="position-relative project-card-container">
                        <img src="assets/img/projects/p9QgnxGVaK6DIR6N.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">Portfolio</span>
                    </div>
                    <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-primary p-2"><i class="fa-solid fa-arrow-up-right-from-square"></i></span>
                </a>
            </div>
            <div class="col">
                <a class="project-card card h-100" href="https://gitlab.com/azdra/animalert" target="_blank">
                    <div class="position-relative project-card-container">
                        <img src="assets/img/projects/5QQsshbVLD7PPg26.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">Animalert</span>
                    </div>
                    <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-primary p-2"><i class="fa-solid fa-arrow-up-right-from-square"></i></span>
                </a>
            </div>
            <div class="col">
                <a class="project-card card h-100" href="https://gitlab.com/kevingrand1/transporters" target="_blank">
                    <div class="position-relative project-card-container">
                        <img src="assets/img/projects/ScOxBNkQXegY96xr.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">Transporter</span>
                    </div>
                    <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-primary p-2"><i class="fa-solid fa-arrow-up-right-from-square"></i></span>
                </a>
            </div>
            <div class="col">
                <a class="project-card card h-100" href="https://gitlab.com/deb-phoenix/green-lawyer" target="_blank">
                    <div class="position-relative project-card-container">
                        <img src="assets/img/projects/tkvPjIZwtHGABnRL.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">Green Lawyer</span>
                    </div>
                    <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-primary p-2"><i class="fa-solid fa-arrow-up-right-from-square"></i></span>
                </a>
            </div>
            <div class="col">
                <a class="project-card card h-100" href="https://gitlab.com/azdra/friendisc" target="_blank">
                    <div class="position-relative project-card-container">
                        <img src="assets/img/projects/TFkjA3QTrYSbDajg.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">Friendisc</span>
                    </div>
                    <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-primary p-2"><i class="fa-solid fa-arrow-up-right-from-square"></i></span>
                </a>
            </div>
            <div class="col">
                <a class="project-card card h-100" href="https://gitlab.com/azdra/phantom-x-site" target="_blank">
                    <div class="position-relative project-card-container" >
                        <img src="assets/img/projects/ZrzCDvfwNSPbTvtQ.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">Phantom-X</span>
                    </div>
                    <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-primary p-2"><i class="fa-solid fa-arrow-up-right-from-square"></i></span>
                </a>
            </div>
            <div class="col">
                <a class="project-card card h-100" href="https://gitlab.com/azdra/tamagotchi" target="_blank">
                    <div class="position-relative project-card-container">
                        <img src="assets/img/projects/GcBaqU4i46Hyq6wq.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">Pokegotchi</span>
                    </div>
                    <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-primary p-2"><i class="fa-solid fa-arrow-up-right-from-square"></i></span>
                </a>
            </div>
            <div class="col">
                <a class="project-card card h-100" href="https://gitlab.com/azdra/allocin-clone" target="_blank">
                    <div class="position-relative project-card-container">
                        <img src="assets/img/projects/LEOxKrfshIvcWwpE.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">Alluciné</span>
                    </div>
                    <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-primary p-2"><i class="fa-solid fa-arrow-up-right-from-square"></i></span>
                </a>
            </div>
            <div class="col">
                <a class="project-card card h-100" href="https://gitlab.com/azdra/mymetromobilit" target="_blank">
                    <div class="position-relative project-card-container">
                        <img src="assets/img/projects/T6jg5BmVIvaJ8ltU.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">MyMetromobilité</span>
                    </div>
                    <span class="position-absolute top-0 start-100 translate-middle badge border border-light rounded-circle bg-primary p-2"><i class="fa-solid fa-arrow-up-right-from-square"></i></span>
                </a>
            </div>
        </div>
    </div>
</section>