<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <h2 class="mb-5">Projets</h2>

        <div class="row row-cols-1 row-cols-md-4 g-4">
            <div class="col">
                <div class="project-card card h-100">
                    <div class="position-relative project-card-container">
                        <span class="project-card-info">Portfolio</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="project-card card h-100">
                    <div class="position-relative project-card-container">
                        <img src="assets/img/projects/5QQsshbVLD7PPg26.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">Animalert</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="project-card card h-100">
                    <div class="position-relative project-card-container">
                        <span class="project-card-info">Transporter</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="project-card card h-100">
                    <div class="position-relative project-card-container">
                        <img src="assets/img/projects/tkvPjIZwtHGABnRL.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">Green Lawyer</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="project-card card h-100">
                    <div class="position-relative project-card-container">
                        <img src="assets/img/projects/TFkjA3QTrYSbDajg.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">Friendisc</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="project-card card h-100">
                    <div class="position-relative project-card-container">
                        <img src="assets/img/projects/ZrzCDvfwNSPbTvtQ.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">Phantom-X</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="project-card card h-100">
                    <div class="position-relative project-card-container">
                        <img src="assets/img/projects/GcBaqU4i46Hyq6wq.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">Pokegotchi</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="project-card card h-100">
                    <div class="position-relative project-card-container">
                        <img src="assets/img/projects/LEOxKrfshIvcWwpE.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">Alluciné</span>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="project-card card h-100">
                    <div class="position-relative project-card-container">
                        <img src="assets/img/projects/T6jg5BmVIvaJ8ltU.webp" class="card-img-top project-card-img object-fit-cover" alt="...">
                        <span class="project-card-info">MyMetromobilité</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>