<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2>Hard Skills</h2>
        <div class="mt-5">
            <div class="subheading mb-3">Frontend</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <span class="fw-bold">Frameworks : </span>Vue.js, React , Angular, Nuxt.js, Next.js
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <span class="fw-bold">UI/UX : </span>Tailwind CSS, Bootstrap, Material-UI, Responsive Design, PWA
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <span class="fw-bold">Outils : </span>Vite, Webpack, TypeScript, Jest, Cypress
                </li>
            </ul>
        </div>

        <div class="mt-5">
            <div class="subheading mb-3">Backend</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <span class="fw-bold">Languages : </span>PHP, Node.js, Python, Java
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <span class="fw-bold">Frameworks : </span>Symfony, Laravel, NestJS, Express.js
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <span class="fw-bold">API : </span>REST, GraphQL, WebSocket, WebRTC
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <span class="fw-bold">Databases : </span>MySQL, PostgreSQL, MongoDB, Redis, Elasticsearch
                </li>
            </ul>
        </div>

        <div class="mt-5">
            <div class="subheading mb-3">Devops</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <span class="fw-bold">Containerisation : </span>Docker, Kubernetes
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <span class="fw-bold">CI/CD : </span>GitLab CI, GitHub Actions, Jenkins
                </li>
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    <span class="fw-bold">Monitoring : </span>Sentry, SonarQube, New Relic
                </li>
            </ul>
        </div>

        <div class="mt-5">
            <div class="subheading mb-3">Méthodologies</div>
            <ul class="fa-ul mb-0">
                <li>
                    <span class="fa-li"><i class="fas fa-check"></i></span>
                    Agile/Scrum, TDD, Clean Architecture, Domain-Driven Design
                </li>
            </ul>
        </div>
    </div>
</section>