<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Compétences</h2>
        <div class="subheading mb-3">Langages</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Html"><i class="fa-brands fa-html5"></i></li>
            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="CSS"><i class="fa-brands fa-css3-alt"></i></li>
            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Javascript"><i class="fa-brands fa-square-js"></i></li>
            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Python"><i class="fa-brands fa-python"></i></li>
            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="PHP"><i class="fa-brands fa-php"></i></li>
        </ul>

        <div class="subheading mb-3">Outils de programmation</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="GIT"><i class="fa-brands fa-git"></i></li>
            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Symfony"><i class="fa-brands fa-symfony"></i></li>
            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="VueJS"><i class="fa-brands fa-vuejs"></i></li>
            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="React"><i class="fa-brands fa-react"></i></li>
            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="NodeJS"><i class="fa-brands fa-node-js"></i></li>
            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Sass"><i class="fa-brands fa-sass"></i></li>
            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="NPM"><i class="fa-brands fa-npm"></i></li>
            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Docker"><i class="fa-brands fa-docker"></i></li>
            <li class="list-inline-item" data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Wordpress"><i class="fa-brands fa-wordpress"></i></li>
        </ul>

{#        <div class="subheading mb-3">Workflow</div>#}
{#        <ul class="fa-ul mb-0">#}
{#            <li>#}
{#                <span class="fa-li"><i class="fas fa-check"></i></span>#}
{#                Mobile-First, Responsive Design#}
{#            </li>#}
{#            <li>#}
{#                <span class="fa-li"><i class="fas fa-check"></i></span>#}
{#                Cross Browser Testing & Debugging#}
{#            </li>#}
{#            <li>#}
{#                <span class="fa-li"><i class="fas fa-check"></i></span>#}
{#                Cross Functional Teams#}
{#            </li>#}
{#            <li>#}
{#                <span class="fa-li"><i class="fas fa-check"></i></span>#}
{#                Agile Development & Scrum#}
{#            </li>#}
{#        </ul>#}
    </div>
</section>